/*TODO: SOMBRA DO LADO ESQUERDO!*/

/*MISC*/
@font-face {
	font-family: 'AUdimat Regular';
	src: local('AUdimat Regular'), url('/fonts/AUdimat-Regular.ttf');
}

@font-face {
	font-family: 'AUdimat Bold';
	src: local('AUdimat Bold'), url('/fonts/AUdimat-Bold.ttf');
}

* {
	color: #70694a;
	font-family: 'AUdimat Regular', "Gill Sans MT", "Gill Sans", GillSans, Arial, Helvetica, sans-serif;
}

html {height: 100%;}

body {
	background-color: #cce7d4;
	background-image: url('/images/bg-left.png'), url('/images/bg-right.png');
	background-repeat: no-repeat, no-repeat;
	background-position: 0 125%, 100% 0;
	padding: 15px;
}

a {text-decoration: none;}
a:hover {color:#8e8768}

a, li, h2, h3, h4 {
	font-family: 'AUdimat Bold', Verdana, Arial, Geneva, Helvetica, sans-serif
}

h4 {
	margin: 10px 0 0;
	font-size: 16px;
}

img {vertical-align: middle;}

section#container {
	margin: 0 auto;
	width: 850px;
	background: rgba(255, 255, 255, 0.7);
	-moz-box-shadow: 7px 5px 15px #999;
	-webkit-box-shadow: 7px 5px 15px #999;
	box-shadow: 7px 5px 15px #999;
}

hr {
	margin: 10px;
	height: 3px;
	background-color: #70694a;
}

p#advise {
	text-align: center;
	margin: 0 0 10px;
}

.right {float:right;}
.left {float:left;}
img.right {padding:0 0 0 20px;margin: 0 0 10px 0;}

/*HEADER*/
section.all {
	width: 158px;
	height: 300px;
	background: url("/images/header-bg.png") repeat scroll 0 0 transparent;
}

header#top {
	width: 850px;
	height: 300px;
	display: table;
}

h1 {
	margin: 15px 13px 0 0;
	width: 132px;
	height: 129px;
	text-indent: -5000px;
	overflow: hidden;
	background: url(/images/new-logo.png) no-repeat;
	float: right;
}

header nav {float: left;}
header ul.menu {padding: 50px 0 0 10px;}
header ul li, header a {color: #cce7d4;}
header ul li {
	padding: 0 5px 0;
	font-size: 17px;
}

/*CONTENT*/
section#content {padding: 10px 0;}
section#content header {background: #70694a url(/images/bg-title.png) no-repeat right;}
section#content header.index {background: #70694a;}
section#content header ul {padding: 12px 10px 6px;}
section#content header ul li {display: inline;}
section#content header.index p {text-align: center; color: #cce7d4;}

article {padding: 20px 20px 0;}
article a {border-bottom: 1px dashed #70694a;}
article#multiple {
	height: 385px;
	padding:0;
	overflow: hidden;
}

div#overflowed {width: 3400px;}
div#overflowed ul li.article {
	list-style: none;
	width: 850px;
	float: left;
}
div#overflowed ul.list {margin: 0 0 0 30px;}

h2 {
	font-size: 23px;
	padding: 12px 10px 6px;
	text-align: right;
}

h3 {font-size: 20px;}

p {
	padding: 5px 0;
	line-height: 20px;
	text-align: justify;
}

section#member {display:table; height: 188px;}
section#member hgroup {margin:20px 0 0;}
section#member img {float: left;}
article.contact {width: 100%; display: table;}
div#column-left {width: 450px; float: left;}
div#column-right {width: 275px; padding: 0 30px 0 0; float: right;}

/*FORM*/
form {margin: 10px 0 0;}

input[type='text'], textarea {width:275px;}

textarea {height:100px;}

p.warning {font-family: 'AUdimat Regular', Verdana, Arial, Geneva, Helvetica, sans-serif; font-weight: bold;}

/*SOCIAL*/
section#social {width:100%; margin:40px 0 0; display:table;}
section#social ul li, section#blog ul li a {font-family: 'AUdimat Regular', Verdana, Arial, Geneva, Helvetica, sans-serif;}
section#social ul li {list-style: none; text-align: justify; padding: 10px 0 0 0; font-size:16px;}

section#twitter {float:left; width: 400px; margin: 0 0 0 20px}
section#blog {float:left; width:375px; margin: 0 0 0 25px;}

/*FOOTER*/
footer {
	width: 100%;
	padding: 0 10px 10px;
	display: table;
}

section#address {
	width: 270px;
	float: left;
}

section#address address {
	margin: 5px 0 0;
	font-size: 14px;
}

section#web {
	float: right;
	margin: 0 20px 0 0;
}
footer ul li {display:inline;}

