body {background: #cce7d4;}

div {
	margin: -160px 0 0 -300px;
	width: 580px;
	height: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
}

h1, h2, p {
	text-align: center;
	color: #70694a;
	font-family: 'Droid Sans', Verdana, Arial, Geneva, Helvetica, sans-serif
}

h1, h2 {padding: 5px 10px 10px;}

h1 {
	margin: 0 auto;
	width: 158px;
	height: 129px;
	text-indent: -5000px;
	overflow: hidden;
	background:url(../images/logo.png) no-repeat;
}

p {line-height: 20px;}
img {vertical-align: middle;}

a {
	text-decoration: none;
	color: #70694a;
	font-weight: bold;
	border-bottom: 1px dashed #70694a;
}
a:hover {color:#8e8768}

